USE [520_Salahetdinov]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Eng_Name] [nvarchar](100) NOT NULL,
	[Code] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizators]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronomic] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Photo] [varchar](max) NULL,
	[GenderId] [int] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Organizators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcipiants]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcipiants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronomic] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Photo] [varchar](max) NULL,
	[GenderId] [int] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Parcipiants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.04.2024 16:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [CityName]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([Id], [CityName]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([Id], [CityName]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (1, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (2, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (3, N'Антарктида', N'Antarctica', N'AQ')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'Женщина')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'Мужчина')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizators] ON 

INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (1, N'Васильев
', N'Всеволод
', N'Давидович
', N'6z92wongmash@tutanota.com
', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67
', N'foto1.jpg
', 2, 1)
INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (2, N'Новиков', N'Фёдор', N'Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'foto2.jpg', 2, 2)
INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (3, N'Фролова', N'Владислава', N'Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'foto3.jpg', 1, 3)
SET IDENTITY_INSERT [dbo].[Organizators] OFF
GO
SET IDENTITY_INSERT [dbo].[Parcipiants] ON 

INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (1, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'+7 (960) 424-07-11', N'foto60.jpg', 1, 6)
INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (2, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'+7 (930) 661-69-31', N'foto61.jpg', 1, 7)
INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Photo], [GenderId], [UserID]) VALUES (3, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'+7 (957) 265-60-68', N'foto62.jpg', 1, 8)
SET IDENTITY_INSERT [dbo].[Parcipiants] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [Role]) VALUES (1, N'user_1', N'user_1', N'user')
INSERT [dbo].[Users] ([UserID], [Login], [Password], [Role]) VALUES (2, N'user_2', N'user_2', N'user')
INSERT [dbo].[Users] ([UserID], [Login], [Password], [Role]) VALUES (3, N'user_3', N'user_3', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City1] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City1]
GO
ALTER TABLE [dbo].[Organizators]  WITH CHECK ADD  CONSTRAINT [FK_Organizators_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Organizators] CHECK CONSTRAINT [FK_Organizators_Country]
GO
ALTER TABLE [dbo].[Organizators]  WITH CHECK ADD  CONSTRAINT [FK_Organizators_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Organizators] CHECK CONSTRAINT [FK_Organizators_Gender]
GO
ALTER TABLE [dbo].[Organizators]  WITH CHECK ADD  CONSTRAINT [FK_Organizators_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Organizators] CHECK CONSTRAINT [FK_Organizators_Users]
GO
ALTER TABLE [dbo].[Parcipiants]  WITH CHECK ADD  CONSTRAINT [FK_Parcipiants_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Parcipiants] CHECK CONSTRAINT [FK_Parcipiants_Country]
GO
ALTER TABLE [dbo].[Parcipiants]  WITH CHECK ADD  CONSTRAINT [FK_Parcipiants_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Parcipiants] CHECK CONSTRAINT [FK_Parcipiants_Gender]
GO
ALTER TABLE [dbo].[Parcipiants]  WITH CHECK ADD  CONSTRAINT [FK_Parcipiants_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Parcipiants] CHECK CONSTRAINT [FK_Parcipiants_Users]
GO
